.dropdown {
  position: relative;
  display: inline-block;
  padding: 3rem 0;
  cursor: pointer;

  &:hover > &__menu {
    display: flex;
  }

  &__toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-size: 1rem;
    padding: 0.5rem 4rem;
    cursor: pointer;
  }

  &__menu.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    bottom: 80%;
    padding: 0;
    min-width: 14rem;

    &-item {
      list-style: none;

      & button {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        color: black;
        padding: 1rem 0.5rem;
        gap: 4px;
        border: none;
        cursor: pointer;
      }
    }

    &-item:hover {
      button {
        color: var(--primary-color);
      }
    }
  }
}
