<div
  class="dropdown"
  (mouseenter)="showDropdown()"
  (mouseleave)="hideDropdown()"
>
  <button class="dropdown__toggle">
    POKAŻ <app-shevron-svg [position]="shevronPosition"></app-shevron-svg>
  </button>
  <ul class="dropdown__menu" [class.show]="isDropdownVisible">
    <li class="dropdown__menu-item">
      <a href="#" (click)="resetSettings()">
        <app-shevron-svg></app-shevron-svg>
        <strong> ZRESETUJ USTAWIENIA </strong></a
      >
    </li>
    <li class="dropdown__menu-item">
      <a href="#" (click)="showInformation()">
        <app-shevron-svg></app-shevron-svg><strong> POKAŻ DANE OSOBOWE</strong>
      </a>
    </li>
  </ul>
</div>
