<div class="home">
  <div class="home__header">
    <app-title> Nadglowek H2 </app-title>
    <div class="home__header-line"></div>
  </div>
  <div class="home__blocks">
    <div class="home__blocks-first">
      <h3 class="home__blocks-second_title">BLOK PIERWSZY</h3>

      <app-radio-group
        class="radio-group"
        [options]="options"
        (changeValueHandler)="onSelectionChange($event)"
      ></app-radio-group>
      <p>Selected option: {{ selectedOption }}</p>
    </div>
    <div class="home__blocks-second">
      <h3 class="home__blocks-second_title">BLOK DRUGI</h3>
      <div class="home__blocks-second_buttons">
        <app-button (click)="onChangeText()">DOKLEJ</app-button>
        <app-button (click)="onReplaceText()">ZASTĄP</app-button>
      </div>
    </div>
  </div>
  <div class="home__text-block">
    {{ randomText }}
  </div>
</div>
